body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#board {
  margin-top: 10px;
}

#message-box {
  font-size: 22px;
}

h1 {
  font-weight: bold;;
}

.border-bottom {
  border-bottom: 5px solid black;
}

.border-left {
  border-left: 5px solid black;
}

.box {
  border-collapse: collapse;
  height: 150px;
  font-size: 30px;
  text-align: center;
  padding-top: 55px;
}

.btn {
  margin-top: 10px;
  font-size: 20px;
}
